<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/bookscript.js" defer></script>
    <link rel="stylesheet" href="/css/mainbored.css">
    <link rel="icon" type="image/x-icon" href="/img/iconbook.ico">
    <title>What do you wanna read ?</title>
</head>
<body>


<section id="Ex5">

    <section>

        <h3>What do you wanna read?</h3>

        <h1>As I wasn't here during 1st semester, I don't have the book app</h1>

    </section>

    <section>
        <img src="/img/book.webp">
    </section>

    <section>
        <div>
            <br>
            <br>
            <button class="button-35" id="btn5" onclick="catchbooks()">See all books</button>
        </div>
        
        <section id="load5">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </section>
        
    </section>

    <section id="resBook">

        <div class="grid-container" id="gridResBook">

          
        </div>


    </section>

</section>
    
</body>


<footer>

    Made By Armand Carraz-Billat

</footer>
</html>