<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/scriptbored.js" defer></script>
    <link rel="stylesheet" href="/css/mainbored.css">
    <link rel="icon" type="image/x-icon" href="/img/iconbored.ico">
    <title>Are you bored ?</title>
</head>
<body>

<section id="Ex1">

    <section>

        <h3>Are you bored ?</h3>

        <h1>Let's find an activity for you !</h1>


    </section>

    <section>
        <img src="/img/man.webp">
    </section>

    <section>

        <button class="button-35" id="btn1" onclick="boredApi()">Click me</button>
        <section id="load">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </section>
        



    </section>


    <section id="results">



        
        <table id="tableAc">
            <tr>
                <td class="name">Activity Name</td>
                <td id="aname"></td>
            </tr>
            <tr>
                <td class="name">Activity type</td>
                <td id="type"></td>
            </tr>
            <tr>
                <td class="name">Number of participants</td>
                <td id="partic"></td>
            </tr>
            <tr>
                <td class="name">Price</td>
                <td id="price"></td>
            </tr>
            <tr>
                <td class="name">Link</td>
                <td id="link"></td>
            </tr>
            <tr>
                <td class="name">Key</td>
                <td id="key"></td>
            </tr>
            <tr>
                <td class="name">Accesibility</td>
                <td id="acc"></td>
            </tr>

        </table>


    </section>




</section>