<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/scriptfyfd.js" defer></script>
    <link rel="stylesheet" href="/css/mainfyfd.css">
    <link rel="icon" type="image/x-icon" href="/img/arrowscroll.ico">
    <title>Scrollable content</title>
</head>
<body>
    

     <section id="Ex2">

        <section id="Titles">

            <h3>Find Your Favorite Drink !</h3>

            <h1>Build a paginated scrollable list and design a details viewer next to the list</h1>

            
        </section>

    <section id="scrollerPar2">

        <div id="scrollerd2">

            <div id="scrollerd">

                <h2>Loading for the first time !</h2>

            </div>

        </div>


            <div id="details2">
                <h2>Click on a drink to see details here!</h2>
            </div>

        <div id="load2"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

    </section>
    </section>
    
</body>
</html>